@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Exemplos de DI</h1>    
    <p>Curso de Arquitetura <a href="https://desenvolvedor.io"> Desenvolvedor.io </a>.</p>
</div>

